.container {
  width: 80%;
  margin: 0 auto;
}

.bar {
  width: 20%;
  float: left;
  padding: 10px;
  min-width: 200px;
  margin-left: 10px;
  margin-top: 10px;
  background-color: #DDD;
  color: #222;
  border-radius: 5px;
}

.name {
  float: left;
}

.votes {
  float: right;
  font-weight: bold;
}

.title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 100px;
}

.new-bar-wrapper {
  margin-bottom: 30px;
}

.order-bars-wrapper {
  margin-bottom: 30px;
}
